/* basics */
*, *::after, *::before,ul{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
/* main container */
.container{
    width: 100%;
    height: 100vh;
    padding: 35px;
    display: flex;
    gap: 17px;
}
/* sidebar at left */
.sidebar_menu{
    width: 20%;
    height: 100%;
    background-color: #F7F7F7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.sidebar_heading{
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D3D3D3;
}
.sidebar_heading :first-child{
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 100%;
    transition: all 100ms linear;
}
.sidebar_heading :first-child:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
}
.sidebar_heading p{
    margin-right: auto;
    margin-left: 13px;
}
.sidebar_heading :last-child{
    width: 26px;
    height: 8px;
    cursor: pointer;
}
/*  */
.sidebar_content{
    overflow: auto;
}
.sidebar_content::-webkit-scrollbar {
    width: 12px;
    cursor: pointer;
}

.sidebar_content::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
    border-radius: 10px;
    cursor: pointer;
}

.sidebar_content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ccc;
    cursor: pointer;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}
.sidebar_list-item{
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 15px 0;
    padding-left: 20px;
    position: relative;
}
.sidebar_list-item:after{
    content: '';
    background-color: #D8D8D8;
    right: 50%;
    transform: translateX(50%);
    position: absolute;
    width: 0%;
    height: 100%;
    transition: all 250ms linear;
    cursor: pointer;
}

.sidebar_list-item:hover:after{
    width: 100%;
}
.sidebar_list-item img{
    width: 30px;  
    height: 30px;
    margin-right: 10px;
    z-index: 2;
    cursor: pointer;
}
.sidebar_list-item p{
    z-index: 2;
    cursor: pointer;
}

.sidebar_footer{
    border-top: 1px solid #D3D3D3;
    padding: 20px;
    display: flex;
    align-items: center;
}
.sidebar_footer p{
    font-size: 16px;
    color: #343434;
    /* white-space: nowrap; */
}
.sidebar_footer a{
    font-size: 18px;
    color: #017EFB;
    cursor: pointer;
}
.sidebar_footer img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
/* *************************************** */
/* main contents */
.main{
    width: 80%;
}
.navbar{
    height: 70px;
    margin-bottom: 25px;
    padding: 20px 40px;
    border-radius: 20px;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_middle{
    width: 30%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}
.navbar_middle input{
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 10px;
}
.navbar_middle img{
    width: 20px;
    height: 20px;
}
.navbar_right{
    display: flex;
    align-items: center;
}
.navbar_right img {
    width: 25px;
    height: 25px;
}
.navbar_right-item{
    padding: 0 15px;
}

.navbar_crossline{
    width: 1px;
    height: 40px;
    background-color: #C5C5C5;
}
.navbar_alert-night img{
    margin: 0 3px;
    cursor: pointer;
    border-radius: 100%;
}
.navbar_alert-night img:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}
.navbar_wallet-status{
    display: flex;
    align-items: center;
}
.navbar_connect-wallet button{
    border: none;
    outline: none;
    background-color: #100DB1;
    color: #fff;
    border-radius: 100px;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
}
.navbar_connect-wallet button:hover{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .2);
    transform: translateY(-1px);
}
.navbar_wallet-status img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-right: 10px;
}
.navbar_wallet-status p{
    font-size: 14px;
}
.navbar_wallet-status span{
    color: #100DB1;
    font-size: 12px;
}