/* basics */
*, *::after, *::before,ul{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
/* main container */
.page_container{
    width: 100%;
    height: 100vh;
    padding: 35px;
    display: flex;
    gap: 17px;
}
/* sidebar at left */
.sidebar_menu{
    width: 17%;
    height: 100%;
    background-color: #F7F7F7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.sidebar_heading{
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D3D3D3;
}
.sidebar_heading :first-child{
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 100%;
    transition: all 100ms linear;
}
.sidebar_heading :first-child:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
}
.sidebar_heading p{
    margin-right: auto;
    margin-left: 13px;
}
.sidebar_heading :last-child{
    width: 26px;
    height: 8px;
    cursor: pointer;
}
/*  */
.sidebar_content{
    overflow: auto;
}
.sidebar_content::-webkit-scrollbar {
    width: 12px;
    cursor: pointer;
}

.sidebar_content::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
    border-radius: 10px;
    cursor: pointer;
}

.sidebar_content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ccc;
    cursor: pointer;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}
.sidebar_list-item{
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 15px 0;
    padding-left: 20px;
    position: relative;
}
.sidebar_list-item:after{
    content: '';
    background-color: #D8D8D8;
    right: 50%;
    transform: translateX(50%);
    position: absolute;
    width: 0%;
    height: 100%;
    transition: all 250ms linear;
    cursor: pointer;
}

.sidebar_list-item:hover:after{
    width: 100%;
}
.sidebar_list-item img{
    width: 30px;  
    height: 30px;
    margin-right: 10px;
    z-index: 2;
    cursor: pointer;
}
.sidebar_list-item p{
    z-index: 2;
    cursor: pointer;
}

.sidebar_footer{
    margin-top: auto;
    border-top: 1px solid #D3D3D3;
    padding: 20px;
    display: flex;
    align-items: center;
}
.sidebar_footer p{
    font-size: 16px;
    color: #343434;
    /* white-space: nowrap; */
}
.sidebar_footer a{
    font-size: 18px;
    color: #017EFB;
    cursor: pointer;
}
.sidebar_footer img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
/* *************************************** */
/* main contents */
.main{
    width: 83%;
    height: 87%;
}
/* navbar */
.navbar{
    height: 70px;
    margin-bottom: 25px;
    padding: 20px 40px;
    border-radius: 20px;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_middle{
    width: 30%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}
.navbar_middle input{
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 10px;
}
.navbar_middle img{
    width: 20px;
    height: 20px;
}
.navbar_right{
    display: flex;
    align-items: center;
}
.navbar_right img {
    width: 25px;
    height: 25px;
}
.navbar_right-item{
    padding: 0 15px;
}

.navbar_crossline{
    width: 1px;
    height: 40px;
    background-color: #C5C5C5;
}
.navbar_alert-night img{
    margin: 0 3px;
    cursor: pointer;
    border-radius: 100%;
}
.navbar_alert-night img:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}
.navbar_wallet-status{
    display: flex;
    align-items: center;
}
.navbar_connect-wallet button{
    border: none;
    outline: none;
    background-color: #100DB1;
    color: #fff;
    border-radius: 100px;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
}
.navbar_connect-wallet button:hover{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .2);
    transform: translateY(-1px);
}
.navbar_wallet-status img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-right: 10px;
}
.navbar_wallet-status p{
    font-size: 14px;
}
.navbar_wallet-status span{
    color: #100DB1;
    font-size: 12px;
}

/* main contenct */
.main_content{
    width: 100%;
    height: 100%;
    display: flex;
}
/* left */
.main_content-left{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.content_left-bottom{
    margin-top: auto;
    /* height: 30%; */
    display: flex;
}.content_left-table{
    width: 65%;
    /* padding: 20px; */
    border: 1px solid #017EFB;
    border-radius: 0 15px 15px 15px;
    position: relative;
}
.content_left-table table{
    width: 100%;
    height: 100%;
    text-align: left;
    font-size: 16px;
}
.need_overflow{
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 0 15px 15px 15px;
    overflow: auto;
}
.content_left-information{
    width: 75%;
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid #017EFB;
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: -1px;
    transform: translateY(-100%);
    overflow: hidden;
}
.content_left-information div{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}
.content_left-information div:first-child{
    border-radius: 15px 0 0 0 ;
    background-color: #017efb;
    color: #fff;
}
.content_left-information div:last-child{
    border-radius: 0 15px 0 0 ;
    color: #017EFB;
}
.content_left-btngroups{
    margin-left: 10px;
    width: 35%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.content_left-btngroups button{
    outline: none;
    background-color: #fff;
    color: #213A97;
    border: 2px solid #213A97;
    border-radius: 15px;
    padding: 15px 15px;
    font-size: 18px;
    cursor: pointer;
    transition:all 200ms linear;
}
.content_left-btngroups button:hover{
    color: #fff;
    background-color: #213a97;
    border-color: #fff;
}


/* right */
.main_content-right{
    width: 30%;
    height: 100%;
    margin-left: 20px;
    /* overflow: auto; */
    /* padding-top:10px ; */
}
.ico_information{
    position: relative;
    margin-top: 30px;
}
.ico_information-information{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    font-size: 18px;
    color: #fff;
    background-color: #017EFB;
    padding: 10px;
    border-radius: 15px 15px 0 0;
}
.ico_list{
    border: 1px solid #017EFB;
    padding: 0 10px;
    border-radius: 0 15px 15px 15px;
}
.ico_list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    font-size: 15px;
}
.ico_list-item span {
    color: #017EFB;
}
.ico_list-item--png{
    margin: 0 ;
}
.ico_list-item--png img{
    width: 20px;
    height: 20px;
}
/* wallet connection */
.wallet_connection-status{
    margin-top: 20px;
    border: 1px solid #017efb;
    border-radius: 15px;
    background-image: linear-gradient(to bottom,#fff,#DFECFF);
    padding: 20px;
    margin-bottom: 100px !important;
}
.connection_status-alert{
    display: flex;
    align-items: center;
    gap: 15px;
}
.connection_status-alert img{
    width: 40px;
    height: 40px;
}
.connection_status-alert p{
    color: #FF4B75;
}
.wallet_adding{
    margin-top: 25px;
    display: flex;
    align-items: center;
}
.wallet_adding div{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.wallet_adding span{
    font-size: 13px;
    margin-bottom: 5px;
    text-indent: 5px;
    color: #343434;
}
.wallet_adding input {
    width: 80%;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px 5px;
    outline: none;
}
.wallet_adding select{
    width: 80%;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px 5px;
    outline: none;
}
.wallet_adding option{
    color:#343434 ;
}
.wallet_calculating{
    margin-top: 20px;
    color: #343434;
    font-size: 15px;
}
.wallet_calculating span{
    color: #00AF0C;
}
.wallet_item-divider{
    width: 100%;
    height: 1px;
    background-color: #707070;
    margin: 20px 0;
}
.wallet_amount{
    color: #343434;
}
.wallet_token-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #343434;
}
.wallet_token-total span {
    color: #8E8E8E;
}
.connect_wallet-button{
    margin: 20px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.connect_wallet-button button{
    outline: none;
    border: 3px solid #017EFB;
    color: #017EFB;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 17px;
    cursor: pointer;
    transition: all 200ms linear;
}
.connect_wallet-button button:hover{
    color: #fff;
    background-color: #017EFB;
}



/* RESPONSIVE */
/* 1050px */
@media screen and (max-width:1050px) {
    .content_left-bottom{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }
    .content_left-table{
        width: 80%
    }
    .content_left-btngroups{
        margin-top: 20px;
        width: 80%;
    }
    .content_left-btngroups button{
        margin-top: 10px;
    }
    .sidebar_menu{
        width: 25%;
    }
    .navbar_middle{
        width: 25%;
    }
    .main_content-right{
        width: 40%;
    }
}
@media screen and (max-width:960px) {
    .navbar{
        padding: 20px;
    }
    .sidebar_menu{
        width: 15%;
    }
    .main{
        width: 90%;
    }
    .page_container{
        justify-content: space-between;
    }
    .sidebar_list-item{
        flex-direction: column;
        padding: 15px 0;
    }
    .sidebar_list-item p{
        display: none;
    }
    .sidebar_list-item img{
        margin: 0;
        width: 25px;
        height: 25px;
    }
    .sidebar_menu{
        width: fit-content;
    }
    .sidebar_heading :first-child{
        width: 35px;
        height: 35px;
    }
    .sidebar_heading p{
        display: none;
    }
    .sidebar_heading :last-child{
        display: none;
    }
    .sidebar_footer div{
        display: none;
    }
    .sidebar_footer img{
        width: 35px;
        height: 35px;
    }
    .content_left-information{
        width: 90%;
        font-size: 15px;
    }
    .sidebar_content::-webkit-scrollbar {
    width: 8px;
    }
    .content_left-table{
        width: 90%
    }
    .content_left-btngroups{
        margin-top: 20px;
        width: 90%;
    }
    .navbar_middle{
        width: fit-content;
        padding: 10px;
        border-radius: 50%;
    }
    .navbar_middle input{
        display: none;
    }
    .table th, .table tr{
        font-size:14px ;
    }
  
    .content_left-btngroups{
    margin-left: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.content_left-btngroups button{
    padding: 5px 10px;
    font-size: 15px;
    flex: 1;
    margin: 0 5px;
}
.ico_information-information p{
    font-size: 15px;
}
.ico_list-item p{
    font-size: 15px;
}
.ico_list-item span{
    font-size: 13px;
}
.connection_status-alert img{
    width: 30px;
    height: 30px;
}
.connection_status-alert p{
    font-size: 15px;
}
/* huihj */

.wallet_connection-status{
    margin-top: 15px;
    padding: 15px;
}
.connection_status-alert{
    gap: 10px;
}
.wallet_adding{
    margin-top: 20px;
}
.wallet_adding{
    display: flex;
    flex-direction: column;
}
.wallet_adding div{
    display:inline-block;
    text-align: center;
    width: 100%;
    margin: 5px 0;
}
.wallet_adding span{
    font-size: 12px;
    text-indent: 0px;
}
.wallet_adding input {
    font-size: 14px;
    padding: 5px 5px;
}
.wallet_adding select{
    width: 80%;
    font-size: 14px;
    padding: 5px 5px;
}
.wallet_calculating{
    font-size: 13px;
}

.wallet_item-divider{
    width: 90%;
    margin: 15px auto;
}
.wallet_amount{
    font-size: 14px;
}
.wallet_token-total{
    font-size: 14px;
}
.wallet_token-total span {
    font-size: 14px;
}
.connect_wallet-button{
    margin: 20px 0 10px 0;
}
.connect_wallet-button button{
    border: 2px solid #017EFB;
    padding: 5px 10px;
    font-size: 16px;
}
.sidebar_footer img{
    margin: 0;
}
}
@media screen and (max-width:750px) {
    .navbar_left{
        display: none;
    }
}
@media screen and (max-width:700px) {
    .page_container{
        padding: 20px;
    }
    .sidebar_heading {
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    .sidebar_footer{
        padding: 10px;
    }
    .content_left-btngroups{
    width: 90%;
    flex-direction: column;
}
.content_left-btngroups button{
    margin: 5px 0;
}
.content_left-information{
    width: 100.7%;
}
.content_left-table{
    border-top-right-radius: 0;
}
}

@media screen and (max-width:640px) {
    .navbar{
        padding: 10px;
    }
    .sidebar_menu{
        height: fit-content;
    }
    .main_content{
        flex-direction: column;
    }
    .main_content-left{
        margin-top: 0px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .main_content-right{
        margin-top: 40px;
        width: 90%;
        margin: 40px auto 0;
    }
    .navbar_connect-wallet{
        display: none;
    }
    .navbar_crossline:first-child{
        display: none;
    }
    .connection_status-alert{
        text-align: center;
        margin: 0 auto;
        margin-top: 10px; 
        justify-content: center;
    }
    .wallet_adding div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wallet_calculating{
        margin-top: 25px;
        text-align: center;
    }
    .wallet_amount{
        text-align: center;
    }
    .wallet_token-total{
        justify-content: space-around;
    }
    .connect_wallet-button{
        margin-top: 25px;
    }
}
@media screen and (max-width:450px) {
    .page_container{
        padding: 10px;
        gap: 5px;
    }
    .navbar_alert-night{
        display: none;
    }
}
@media screen and (max-width:400px) {
    .page_container{
        padding: 10px;
    }
    .main{
        width: 100%;
    }
    .sidebar_menu{
        position: fixed;
        bottom: 30px;
        left: 20px;
        max-height: 90vh;

        z-index: 3;
        background-color: #9e9de6;
    }
    .sidebar_footer{
        border: none;
    }
    .sidebar_heading{
        display: none;
    }
    .sidebar_content{
        display: none;
        overflow: auto;
    }
    .sidebar_menu:hover .sidebar_content,.sidebar_menu:hover .sidebar_heading{
        display: block;
    }
    .sidebar_list-item{
        flex-direction: column;
        padding: 15px 0 15px 5px;
    }
}